.brand-slider {
  padding: 15px;
  margin-bottom: 40px;
  
  &__wrapper {  
    background-color: #fff;
    width: 100%;
    border-radius: $default-radius;
  }

  &__item {
    padding: 0 20px;
  }

  .owl-nav {
    // margin: 0;

    .owl-prev, .owl-next{
      position: absolute;
      background-color: #fff !important;
      width: 60px !important;
      height: 60px !important;
      line-height: 60px !important;
      border-radius: 50px !important;
      margin: 2px !important;
      font-size: 40px !important;
      top: 50% !important;
      opacity: 0.9;
      text-align: center;
      transform: translateY(-50%) !important;
      transition: 0.2s all !important;
      box-shadow: rgba(0,0,0,.2) 10px 0 20px;

      &:hover {
        color: $primary-text-color !important;
        opacity: 1;
      }

      &:focus {
        outline: none !important;
      }

    }

    .owl-next {
      left: 0 !important;
      margin-left: 10px !important;
    }

    .owl-prev {
      right: 0 !important;
      margin-right: 10px !important;
    }

    &:hover {
      opacity: 1 !important;
    }
  }
}