.product-slider {

  &__wrapper {
    background-color: #fff;
    border-radius: $default-radius;
    padding: 15px;
    margin-bottom: 40px;
  }

  &__title {
    border-bottom: 2px solid $primary-color;
    color: $primary-color;
    padding-bottom: 10px;
    flex: 0 0 auto;

    &-line {
      border-bottom: 2px solid $secondary-background-color;
      flex: 1 1 auto;
    }

    &-wrapper {
      width: 100%;
      display: flex;
      width: 100%;
    }

  }

  &__item{
    padding: 15px;

    &:hover .product-slider__actions {
      background-color: #fff;
      transition:all .1s ease-in-out 0s;
    }
    &:hover .product-slider__like {
      transform: translateY(0px);
      opacity: 1;
    }
    &:hover .product-slider__compare {
      transform: translateY(0px);
      opacity: 1;
    }
    &:hover .product-slider__view {
      transform: translateY(0px);
      opacity: 1;
    }
    &:hover .product-slider__cart {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  &__image {
    position: relative;
    background: url('../images/product-placeholder.png') no-repeat center center;

    a {
      display: block;
      padding-top: 100%;
      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  &__discount-badge {
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 9;
    background-color: $secondary-color;
    color: #fff;
    border-radius: $default-radius;
    border-top-right-radius: 0;
    font-size: 12px;
    padding: 1px 5px;
  }

  &__details {
    text-align: center;
    position: relative;
    max-width: 168px;
    margin: 0 auto;
  }

  &__product-name {
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden;
  }

  &__price {
    color: $primary-color;
  }

  &__actions {
    background-color: transparent;
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 26px;
    // margin-bottom: 30px;
    position: absolute;
    top: 26px;
    left: 20px;
    transition: all .1s ease-in-out 1s;

    &-item a{
      margin: 0 4px;
      height: 26px;
      &:hover {
        color: darken($link-active-color,20%);

      }
    }
  }

  &__like {
    display: block;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.2s ease-in-out;
    transition-delay: 0.2s;

    &--tooltip {
      font-size: 10px;
      position: absolute;
      width: max-content;
      background-color: $secondary-background-color;
      transform: translateX(42%);
      padding: 4px 12px;
      z-index: 9999999;
      border-radius: 4px;
      top: 30px;
      opacity: 0;
      transition: all 0.2s ease-in-out;

      &::before {
        content: '';
        width: 0; 
        height: 0; 
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid $secondary-background-color;
        position: absolute;
        top: -5px;
        left: 45%;
      }
    }

    &:hover .product-slider__like--tooltip{
      opacity: 1;

      &:hover {
        opacity: 0;
      }
    }

  }

  &__compare {
    display: block;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.2s ease-in-out;
    transition-delay: 0.4s;

    &--tooltip {
      font-size: 10px;
      position: absolute;
      width: max-content;
      background-color: $secondary-background-color;
      transform: translateX(40%);
      padding: 4px 12px;
      z-index: 9999999;
      border-radius: 4px;
      top: 30px;
      opacity: 0;
      transition: all 0.2s ease-in-out;

      &::before {
        content: '';
        width: 0; 
        height: 0; 
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid $secondary-background-color;
        position: absolute;
        top: -5px;
        left: 45%;
      }
    }

    &:hover .product-slider__compare--tooltip{
      opacity: 1;

      &:hover {
        opacity: 0;
      }
    }
  }

  &__view {
    display: block;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.2s ease-in-out;
    transition-delay: 0.6s;

    &--tooltip {
      font-size: 10px;
      position: absolute;
      width: max-content;
      background-color: $secondary-background-color;
      transform: translateX(40%);
      padding: 4px 12px;
      z-index: 9999999;
      border-radius: 4px;
      top: 30px;
      opacity: 0;
      transition: all 0.2s ease-in-out;

      &::before {
        content: '';
        width: 0; 
        height: 0; 
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid $secondary-background-color;
        position: absolute;
        top: -5px;
        left: 45%;
      }
    }

    &:hover .product-slider__view--tooltip{
      opacity: 1;

      &:hover {
        opacity: 0;
      }
    }
  }

  &__cart {
    display: block;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.2s ease-in-out;
    transition-delay: 0.8s;

    &--tooltip {
      font-size: 10px;
      position: absolute;
      width: max-content;
      background-color: $secondary-background-color;
      transform: translateX(0%);
      padding: 4px 12px;
      z-index: 9999999;
      border-radius: 4px;
      top: 30px;
      opacity: 0;
      transition: all 0.2s ease-in-out;

      &::before {
        content: '';
        width: 0; 
        height: 0; 
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid $secondary-background-color;
        position: absolute;
        top: -5px;
        left: 86%;
      }
    }

    &:hover .product-slider__cart--tooltip{
      opacity: 1;

      &:hover {
        opacity: 0;
      }
    }
  }

  .owl-nav {
    // margin: 0;

    .owl-prev, .owl-next{
      position: absolute;
      background-color: #fff !important;
      width: 60px !important;
      height: 60px !important;
      line-height: 60px !important;
      border-radius: 50px !important;
      margin: 2px !important;
      font-size: 40px !important;
      top: 50% !important;
      opacity: 0.9;
      text-align: center;
      transform: translateY(-50%) !important;
      transition: 0.2s all !important;
      box-shadow: rgba(0,0,0,.2) 10px 0 20px;

      &:hover {
        color: $primary-text-color !important;
        opacity: 1;
      }

      &:focus {
        outline: none !important;
      }
    }

    .owl-next {
      left: 0 !important;
      margin-left: 10px !important;
    }

    .owl-prev {
      right: 0 !important;
      margin-right: 10px !important;
    }

    &:hover {
      opacity: 1 !important;
    }
  }
}