<div class="brand-slider__wrapper">
	<div class="brand-slider owl-carousel owl-theme">
		<div class="brand-slider__item">
			<a href="#" class="brand-slider__link">
	  		<img class="brand-slider__image owl-lazy" data-src="assets/images/brand.png"  alt="">
			</a>
		</div>
		<div class="brand-slider__item">
			<a href="#" class="brand-slider__link">
	  		<img class="brand-slider__image owl-lazy" data-src="assets/images/brand_2.png"  alt="">
			</a>
		</div>
		<div class="brand-slider__item">
			<a href="#" class="brand-slider__link">
	  		<img class="brand-slider__image owl-lazy" data-src="assets/images/brand_2.png"  alt="">
			</a>
		</div>
		<div class="brand-slider__item">
			<a href="#" class="brand-slider__link">
	  		<img class="brand-slider__image owl-lazy" data-src="assets/images/brand.png"  alt="">
			</a>
		</div>
		<div class="brand-slider__item">
			<a href="#" class="brand-slider__link">
	  		<img class="brand-slider__image owl-lazy" data-src="assets/images/brand_2.png"  alt="">
			</a>
		</div>
		<div class="brand-slider__item">
			<a href="#" class="brand-slider__link">
	  		<img class="brand-slider__image owl-lazy" data-src="assets/images/brand.png"  alt="">
			</a>
		</div>
		<div class="brand-slider__item">
			<a href="#" class="brand-slider__link">
	  		<img class="brand-slider__image owl-lazy" data-src="assets/images/brand_2.png"  alt="">
			</a>
		</div>
	</div>
</div>