<div class="main-slider__wrapper">
	<div class="main-slider owl-carousel owl-theme">
	  <div class="main-slider__item">
	  	<a href="#" class="main-slider__link">
				<picture>
					<source class="owl-lazy" media="(max-width: 992px)" data-src="assets/images/mobile_slide_1.png">
		  		<img class="main-slider__image owl-lazy" data-src="assets/images/1.jpg"  alt="">
				</picture>
	  	</a>
	  </div>
	  <div class="main-slider__item">
	  	<a href="#" class="main-slider__link">
				<picture>
					<source class="owl-lazy" media="(max-width: 992px)" data-src="assets/images/mobile_slide_2.jpg">
		  		<img class="main-slider__image owl-lazy" data-src="assets/images/2.jpg"  alt="">
				</picture>
	  	</a>
	  </div>
	  <div class="main-slider__item">
	  	<a href="#" class="main-slider__link">
				<picture>
					<source class="owl-lazy" media="(max-width: 992px)" data-src="assets/images/mobile_slide_3.png">
		  		<img class="main-slider__image owl-lazy" data-src="assets/images/3.jpg"  alt="">
				</picture>
	  	</a>
	  </div>
	  <div class="main-slider__item">
	  	<a href="#" class="main-slider__link">
				<picture>
					<source class="owl-lazy" media="(max-width: 992px)" data-src="assets/images/mobile_slide_4.png">
		  		<img class="main-slider__image owl-lazy" data-src="assets/images/4.jpg"  alt="">
				</picture>
	  	</a>
	  </div>
	</div>
</div>
