<div class="moment-slider">
	<div class="moment-slider__title">
		پیشنهاد لحظه ای
	</div>
	<div class="moment-slider__slides owl-carousel owl-theme">
		<div class="moment-slider__item">
			<a href="#" class="moment-slider__image">
				<img src="assets/images/product.jpg" alt="">
			</a>
			<div class="moment-slider__details">
				<a href="#" class="moment-slider__product-name">
					متابوک هواوای دی رایزن 5
				</a>
				<div class="moment-slider__price">
				  <span class="moment-slider__price-value">7,800,000</span>
					<span class="moment-slider__price-currency">تومان</span>
				</div>
			</div>
			<div class="moment-slider__loader-wrapper">
				<div class="moment-slider__loader">
				</div>
			</div>
		</div>
		<div class="moment-slider__item">
			<a href="#" class="moment-slider__image">
				<img src="assets/images/product_2.jpg" alt="">
			</a>
			<div class="moment-slider__details">
				<a href="#" class="moment-slider__product-name">
					متابوک هواوای دی رایزن 5
				</a>
				<div class="moment-slider__price">
				  <span class="moment-slider__price-value">7,800,000</span>
					<span class="moment-slider__price-currency">تومان</span>
				</div>
			</div>
			<div class="moment-slider__loader-wrapper">
				<div class="moment-slider__loader">
				</div>
			</div>
		</div>
	</div>
</div>