<div class="product-slider__wrapper">
	<div class="product-slider__title-wrapper">
		<div class="product-slider__title">
			@@title
		</div>
		<div class="product-slider__title-line">
		</div>
	</div>
	<div class="product-slider owl-carousel owl-theme">
		<div class="product-slider__item">
			<div class="product-slider__image">
				<a href="#">
					<img class="owl-lazy" data-src="assets/images/product.jpg" alt="">
				</a>
				<div class="product-slider__discount-badge">
					% 43.2
				</div>
			</div>
			<div class="product-slider__details">
				<a href="#" class="product-slider__product-name">
					@@product
				</a>
				<div class="product-slider__price">
  				<span class="product-slider__price-value">@@price</span>
  				<span class="product-slider__price-currency">تومان</span>
				</div>
				<ul class="product-slider__actions">
					<li class="product-slider__actions-item">
						<a href="#" class="product-slider__cart">
							<ion-icon name="cart-outline"></ion-icon>
							<div class="product-slider__cart--tooltip">
								افزودن به سبد خرید
							</div>
						</a>
					</li>
					<li class="product-slider__actions-item">
						<a href="#" class="product-slider__view">
							<ion-icon name="search-outline"></ion-icon>
							<div class="product-slider__view--tooltip">
								مشاهده سریع محصول
							</div>
						</a>
					</li>
					<li class="product-slider__actions-item">
						<a href="#" class="product-slider__compare">
							<ion-icon name="shuffle-outline"></ion-icon>
							<div class="product-slider__compare--tooltip">
								مقایسه محصول
							</div>
						</a>
					</li>
					<li class="product-slider__actions-item">
						<a href="#" class="product-slider__like">
							<ion-icon name="heart-outline"></ion-icon>
							<div class="product-slider__like--tooltip">
								افزودن به علاقه مندی ها
							</div>
						</a>
					</li>
				</ul>
				<div class="w-100 my-3">
				</div>
			</div>
		</div>
		<div class="product-slider__item">
			<div class="product-slider__image">
				<a href="#">
					<img class="owl-lazy" data-src="assets/images/product.jpg" alt="">
				</a>
				<div class="product-slider__discount-badge">
					% 43.2
				</div>
			</div>
			<div class="product-slider__details">
				<a href="#" class="product-slider__product-name">
					@@product
				</a>
				<div class="product-slider__price">
  				<span class="product-slider__price-value">@@price</span>
  				<span class="product-slider__price-currency">تومان</span>
				</div>
				<ul class="product-slider__actions">
					<li class="product-slider__actions-item">
						<a href="#" class="product-slider__cart">
							<ion-icon name="cart-outline"></ion-icon>
							<div class="product-slider__cart--tooltip">
								افزودن به سبد خرید
							</div>
						</a>
					</li>
					<li class="product-slider__actions-item">
						<a href="#" class="product-slider__view">
							<ion-icon name="search-outline"></ion-icon>
							<div class="product-slider__view--tooltip">
								مشاهده سریع محصول
							</div>
						</a>
					</li>
					<li class="product-slider__actions-item">
						<a href="#" class="product-slider__compare">
							<ion-icon name="shuffle-outline"></ion-icon>
							<div class="product-slider__compare--tooltip">
								مقایسه محصول
							</div>
						</a>
					</li>
					<li class="product-slider__actions-item">
						<a href="#" class="product-slider__like">
							<ion-icon name="heart-outline"></ion-icon>
							<div class="product-slider__like--tooltip">
								افزودن به علاقه مندی ها
							</div>
						</a>
					</li>
				</ul>
				<div class="w-100 my-3">
				</div>
			</div>
		</div>
		<div class="product-slider__item">
			<div class="product-slider__image">
				<a href="#">
					<img class="owl-lazy" data-src="assets/images/product.jpg" alt="">
				</a>
				<div class="product-slider__discount-badge">
					% 43.2
				</div>
			</div>
			<div class="product-slider__details">
				<a href="#" class="product-slider__product-name">
					@@product
				</a>
				<div class="product-slider__price">
  				<span class="product-slider__price-value">@@price</span>
  				<span class="product-slider__price-currency">تومان</span>
				</div>
				<ul class="product-slider__actions">
					<li class="product-slider__actions-item">
						<a href="#" class="product-slider__cart">
							<ion-icon name="cart-outline"></ion-icon>
							<div class="product-slider__cart--tooltip">
								افزودن به سبد خرید
							</div>
						</a>
					</li>
					<li class="product-slider__actions-item">
						<a href="#" class="product-slider__view">
							<ion-icon name="search-outline"></ion-icon>
							<div class="product-slider__view--tooltip">
								مشاهده سریع محصول
							</div>
						</a>
					</li>
					<li class="product-slider__actions-item">
						<a href="#" class="product-slider__compare">
							<ion-icon name="shuffle-outline"></ion-icon>
							<div class="product-slider__compare--tooltip">
								مقایسه محصول
							</div>
						</a>
					</li>
					<li class="product-slider__actions-item">
						<a href="#" class="product-slider__like">
							<ion-icon name="heart-outline"></ion-icon>
							<div class="product-slider__like--tooltip">
								افزودن به علاقه مندی ها
							</div>
						</a>
					</li>
				</ul>
				<div class="w-100 my-3">
				</div>
			</div>
		</div>
		<div class="product-slider__item">
			<div class="product-slider__image">
				<a href="#">
					<img class="owl-lazy" data-src="assets/images/product.jpg" alt="">
				</a>
				<div class="product-slider__discount-badge">
					% 43.2
				</div>
			</div>
			<div class="product-slider__details">
				<a href="#" class="product-slider__product-name">
					@@product
				</a>
				<div class="product-slider__price">
  				<span class="product-slider__price-value">@@price</span>
  				<span class="product-slider__price-currency">تومان</span>
				</div>
				<ul class="product-slider__actions">
					<li class="product-slider__actions-item">
						<a href="#" class="product-slider__cart">
							<ion-icon name="cart-outline"></ion-icon>
							<div class="product-slider__cart--tooltip">
								افزودن به سبد خرید
							</div>
						</a>
					</li>
					<li class="product-slider__actions-item">
						<a href="#" class="product-slider__view">
							<ion-icon name="search-outline"></ion-icon>
							<div class="product-slider__view--tooltip">
								مشاهده سریع محصول
							</div>
						</a>
					</li>
					<li class="product-slider__actions-item">
						<a href="#" class="product-slider__compare">
							<ion-icon name="shuffle-outline"></ion-icon>
							<div class="product-slider__compare--tooltip">
								مقایسه محصول
							</div>
						</a>
					</li>
					<li class="product-slider__actions-item">
						<a href="#" class="product-slider__like">
							<ion-icon name="heart-outline"></ion-icon>
							<div class="product-slider__like--tooltip">
								افزودن به علاقه مندی ها
							</div>
						</a>
					</li>
				</ul>
				<div class="w-100 my-3">
				</div>
			</div>
		</div>
		<div class="product-slider__item">
			<div class="product-slider__image">
				<a href="#">
					<img class="owl-lazy" data-src="assets/images/product.jpg" alt="">
				</a>
				<div class="product-slider__discount-badge">
					% 43.2
				</div>
			</div>
			<div class="product-slider__details">
				<a href="#" class="product-slider__product-name">
					@@product
				</a>
				<div class="product-slider__price">
  				<span class="product-slider__price-value">@@price</span>
  				<span class="product-slider__price-currency">تومان</span>
				</div>
				<ul class="product-slider__actions">
					<li class="product-slider__actions-item">
						<a href="#" class="product-slider__cart">
							<ion-icon name="cart-outline"></ion-icon>
							<div class="product-slider__cart--tooltip">
								افزودن به سبد خرید
							</div>
						</a>
					</li>
					<li class="product-slider__actions-item">
						<a href="#" class="product-slider__view">
							<ion-icon name="search-outline"></ion-icon>
							<div class="product-slider__view--tooltip">
								مشاهده سریع محصول
							</div>
						</a>
					</li>
					<li class="product-slider__actions-item">
						<a href="#" class="product-slider__compare">
							<ion-icon name="shuffle-outline"></ion-icon>
							<div class="product-slider__compare--tooltip">
								مقایسه محصول
							</div>
						</a>
					</li>
					<li class="product-slider__actions-item">
						<a href="#" class="product-slider__like">
							<ion-icon name="heart-outline"></ion-icon>
							<div class="product-slider__like--tooltip">
								افزودن به علاقه مندی ها
							</div>
						</a>
					</li>
				</ul>
				<div class="w-100 my-3">
				</div>
			</div>
		</div>
		<div class="product-slider__item">
			<div class="product-slider__image">
				<a href="#">
					<img class="owl-lazy" data-src="assets/images/product.jpg" alt="">
				</a>
				<div class="product-slider__discount-badge">
					% 43.2
				</div>
			</div>
			<div class="product-slider__details">
				<a href="#" class="product-slider__product-name">
					@@product
				</a>
				<div class="product-slider__price">
  				<span class="product-slider__price-value">@@price</span>
  				<span class="product-slider__price-currency">تومان</span>
				</div>
				<ul class="product-slider__actions">
					<li class="product-slider__actions-item">
						<a href="#" class="product-slider__cart">
							<ion-icon name="cart-outline"></ion-icon>
							<div class="product-slider__cart--tooltip">
								افزودن به سبد خرید
							</div>
						</a>
					</li>
					<li class="product-slider__actions-item">
						<a href="#" class="product-slider__view">
							<ion-icon name="search-outline"></ion-icon>
							<div class="product-slider__view--tooltip">
								مشاهده سریع محصول
							</div>
						</a>
					</li>
					<li class="product-slider__actions-item">
						<a href="#" class="product-slider__compare">
							<ion-icon name="shuffle-outline"></ion-icon>
							<div class="product-slider__compare--tooltip">
								مقایسه محصول
							</div>
						</a>
					</li>
					<li class="product-slider__actions-item">
						<a href="#" class="product-slider__like">
							<ion-icon name="heart-outline"></ion-icon>
							<div class="product-slider__like--tooltip">
								افزودن به علاقه مندی ها
							</div>
						</a>
					</li>
				</ul>
				<div class="w-100 my-3">
				</div>
			</div>
		</div>
	</div>
</div>