<div class="row">
	<div class="d-none d-sm-none d-md-none d-lg-block d-xl-block col-lg-3">
		<div class="quarter-banner__wrapper">
			<a href="#" class="quarter-banner__link">
				<img src="assets/images/banner.jpg">
			</a>		
		</div>
	</div>
	<div class="d-none d-sm-none d-md-none d-lg-block d-xl-block col-lg-3">
		<div class="quarter-banner__wrapper">
			<a href="#" class="quarter-banner__link">
				<img src="assets/images/banner.jpg">
			</a>		
		</div>
	</div>
	<div class="d-none d-sm-none d-md-none d-lg-block d-xl-block col-lg-3">
		<div class="quarter-banner__wrapper">
			<a href="#" class="quarter-banner__link">
				<img src="assets/images/banner.jpg">
			</a>		
		</div>
	</div>
	<div class="d-none d-sm-none d-md-none d-lg-block d-xl-block col-lg-3">
		<div class="quarter-banner__wrapper">
			<a href="#" class="quarter-banner__link">
				<img src="assets/images/banner.jpg">
			</a>		
		</div>
	</div>
</div>
