@font-face {
	font-family: 'vazir';
	src: url('../fonts/vazir/Vazir-FD.eot'); 
	src: url('../fonts/vazir/Vazir-FD.eot?#iefix') format('embedded-opentype'), 
				url('../fonts/vazir/Vazir-FD.woff2') format('woff2'),
				url('../fonts/vazir/Vazir-FD.woff') format('woff'),
				url('../fonts/vazir/Vazir-FD.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'vazir';
	src: url('../fonts/vazir/Vazir-Bold-FD.eot'); 
	src: url('../fonts/vazir/Vazir-Bold-FD.eot?#iefix') format('embedded-opentype'), 
				url('../fonts/vazir/Vazir-Bold-FD.woff2') format('woff2'), 
				url('../fonts/vazir/Vazir-Bold-FD.woff') format('woff'), 
				url('../fonts/vazir/Vazir-Bold-FD.ttf')  format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'vazir';
	src: url('../fonts/vazir/Vazir-Thin-FD.eot'); 
	src: url('../fonts/vazir/Vazir-Thin-FD.eot?#iefix') format('embedded-opentype'), 
				url('../fonts/vazir/Vazir-Thin-FD.woff2') format('woff2'), 
				url('../fonts/vazir/Vazir-Thin-FD.woff') format('woff'), 
				url('../fonts/vazir/Vazir-Thin-FD.ttf')  format('truetype');
	font-weight: 100;
	font-style: normal;
}