@import 'partials/variables/_values';

// No media query since this is the default style

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; 
}

body {
  background-color: $primary-background-color;
  font-family: $default-font-name ,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  text-align: right;
  color: $primary-text-color;
  font-size: $default-font-size;
}

a, a:active, a:visited{
  color: $link-active-color;
  transition: all 0.2s;
}

a:hover {
  color: $link-hover-color;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

@import '_header-responsive';
@import 'sliders/_main-slider';
@import 'banners/_side-banner';
@import 'sliders/_special-slider';
@import 'banners/_side-banner';
@import 'banners/_full-width-banner';
@import 'banners/_quarter-banner';
@import 'sliders/_moment-slider';
@import 'sliders/_product-slider';
@import 'sliders/_brand-slider';
@import '_footer';


@import 'partials/utilities/_default-select2-style';
@import 'partials/utilities/_gaps';
