$default-font-name:	'vazir';
$default-font-size: 16px;
$default-radius: 20px;
$default-box-shadow: 0 2px 4px $shadow-color;
$font-icon-size: 28px;

// No media query since this is the default style

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;	
}

body {
	background-color: $primary-background-color;
	font-family: $default-font-name ,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	text-align: right;
	color: $primary-text-color;
	font-size: $default-font-size;
}

a, a:active, a:visited{
	color: $link-active-color;
}

a:hover {
	color: $link-hover-color;
  text-decoration: none;
}

.header-responsive {
  margin-top: 16px;
  position: relative;
  transition: 0.2s all;

	&__burger-menu {
		display: inline-block;
    padding: 0;
    background: transparent;
    border: none;
    height: 56px;
    width: 56px;
    font-size: $font-icon-size;
    text-align: center;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    line-height: 70px;
    float: left;
    position: relative;

		&:focus {
	    outline: none;
		}
	}


	&__logo {
		// max-width: 150px;
		// width: 100%;
		// height: auto;

		height: 56px;
    padding: 10px;
	}

	&__icons {
		display: flex;
	}

	&__login{
    display: inline-block;
    padding: 0;
    background: transparent;
    border: none;
    height: 56px;
    width: 56px;
    font-size: $font-icon-size;
    text-align: center;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    line-height: 70px;
    float: left;
    position: relative;
		color: $primary-text-color;

    &:hover {
			color: $primary-text-color;

    }
 	}

	&__cart{
    display: inline-block;
    padding: 0;
    background: transparent;
    border: none;
    height: 56px;
    width: 56px;
    font-size: $font-icon-size;
    text-align: center;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    line-height: 70px;
    float: left;
    position: relative;
		color: $primary-text-color;

    &:hover {
			color: $primary-text-color;
    }
	}

	&__search {

    &-icon{
      display: inline-block;
      padding: 0;
      background: transparent;
      border: none;
      height: 56px;
      width: 56px;
      font-size: $font-icon-size;
      text-align: center;
      overflow: hidden;
      outline: none;
      cursor: pointer;
      line-height: 70px;
      float: left;
      position: relative;
      color: $primary-text-color;

      &:hover {
        color: $primary-text-color;
      }

      &:focus {
        outline: none;
      }
    }


    &-form {
      font-size: $font-icon-size;
      color: $primary-text-color;
      border-radius: $default-radius;
      overflow: hidden;
      position: absolute;
      top: 0px;
      left: 0px;
      opacity: 0;
      visibility: hidden;
      width: 50%;
      backface-visibility: hidden;
      transition: 0.2s all;     

      &--open {
        opacity: 1;
        visibility: visible;
        width: 100%;
      }

      &--close {
        opacity: 0;
        visibility: hidden;
        width: 50%;
      }
    }

    &-form-wrapper {
      position: relative;
    }

    &-input {
      padding: 0 15px;
      margin: 0;
      border: none;
      background-color: white;
      width: 100%;
      height: 56px;
      line-height: 56px;
      font-size: 14px;
      border-bottom-right-radius: $default-radius;
      border-top-right-radius: $default-radius;

      &:focus {
        outline: none;
      }

    }

    &-close {
      height: 56px;
      width: 56px;
      line-height: 70px;
      border:none;
      background-color: #fff;
      cursor: pointer;
      border-bottom-left-radius: $default-radius;
      border-top-left-radius: $default-radius;

      &:focus {
        outline: none;
      }

    }

	}

  &__side {
    background-color: #fff;
    width: 280px;
    height: 100vh;
    position: fixed;
    right: 0;
    top:0;
    padding: 16px 0;
    border-left: 1px solid rgba(0,0,0,.12);
    z-index: 9999;
    transform: translateX(100%);
    transition: all .15s cubic-bezier(.4,0,.2,1);
    transition-duration: 0.15s;
    overflow-y: auto; 

    &--open {
      transform: translateX(0);
      margin: 0;
    }

    &-header {
      text-align: center;
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid #dadce0;
    }

    &-navbar {
      margin: 0;
      padding: 0;
      list-style: none;

      &-list {
        position: relative;
      }

      &-item {
        display: block;
        padding: 12px 48px;
        padding-right: 24px;
        line-height: 18px;
        transition: .3s;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $secondary-text-color;

        &:hover {
          color: darken($secondary-text-color, 20%)  ;
          background-color: $primary-background-color;
        }
      }

      &-submenu {


        &-list {
          position: relative;
          display: none;          
        }

        &-item {

          &--first {
            padding-right: 48px
          }

          &--second {
            padding-right: 86px
          }
        }

        &-icon {
          transition: 0.2s all;

          &--open {
            transform: rotate(180deg)
          }

          &-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            width: 42px;
            text-align: center;
            line-height: 50px;
            height: 42px;
            cursor: pointer;
            transition: .3s;
            font-size: 20px;

            &:hover {
              background-color: $primary-background-color;
            }
          }
        }
      }
    }

    &-wrapper {
      background-color: rgba(0,0,0,.5);
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
      transition: all .15s cubic-bezier(.4,0,.2,1);
      transition-duration: 0.15s;

      &--open {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &--fixed-navbar {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    margin: 0;
    z-index: 999;
  }
}










.m-0 {
  margin: 0 !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.pr-5,
.px-5 {
  padding-right: 3rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
  padding-left: 3rem !important;
}


