@import 'partials/variables/_material_colors';

$primary-background-color:          $material-theme-light-app;
$secondary-background-color:        $material-grey-200;
$primary-color:                     $material-cyan-500;
$secondary-color:                   $material-grey-500;
$primary-text-color:                $material-grey-600;
$secondary-text-color:              $material-grey-700;
$link-active-color:                 $primary-text-color;
$link-hover-color:                  $primary-color;
$border-color:                      $material-grey-300;
$shadow-color:                      $material-grey-400;


